@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

h1 {
  color: #D07347;
  font-family: 'Paprika', cursive;
}

p {
  color: #A7462D;
  font-family: 'Paprika', cursive;
}

body {
  background-color: #E7C4A8;
}

.intro-blurb {
  margin: 2rem;
}

.go-button {
  position: relative;
  margin: auto;
}

.footer-text {
  color: #A7462D;
  font-family: 'Paprika', cursive;
}