@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

/* use this stylesheet on all pages to maintain consistency */

body {
  margin: 2rem;
  background-color: #E7C4A8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Paprika', cursive;
}

p {
  font-family: 'Paprika', cursive;
}

.intro {
    color: #8a491f;
    padding-bottom: 2rem;
}

.card {
    background-color: #8A491F;
    color: #E7C4A8;
}


a {
  text-decoration: none;
  color: #E7C4A8;
}

a:hover {
  text-decoration: none;
  color: #E7C4A8;
}

.videos {
    color: #8a491f;
}

iframe {
    position: relative;
    display: block;
    margin: auto;
    padding: 1rem;
}

.home {
  margin-right: 80%;
}